.preloader-screen {
	width: 100vw !important;
	height: 100vh !important;
	p {
		width: 50%;
		text-align: center;
		font-family: 'Circular-Std-Book';
		font-size: 1.3rem;
		color: $vibra100;
		margin-top: 2rem;
	}
	@include flexbox(column, center, center);
	img {
		height: 3rem;
	}
}
