// COLORS

// Vibra = a kind of dark purple
$vibra100: #00282d;
$vibra80: #000d53;
$vibra60: #3f6695;
$vibra40: #c2dae8;
$vibra30: #bfbfc7;
$vibra20: #d4d9da;
$vibra10: #e9ebec;

// Lumen - a kind of light purple
$lumen100: #e5e5e5;
$lumen80: #f7f9ff;
$lumen60: #f9faff;
$lumen40: #fbfcff;
$lumen30: #fcfeff;
$lumen20: #fdffff;
$lumen10: #feffff;

// Noise - a kind of greyish-purple
$noise100: #ffffff;
$noise80: #d4d4da;
$noise60: #a9a9b5;
$noise40: #7e7e8f;
$noise30: #68687d;
$noise20: #53536a;
$noise10: #3e3e58;

// Major Tom - Red
$majorTom100: #ee5959;
$majorTom80: #f17a7a;
$majorTom60: #f59c9c;
$majorTom40: #f8bdbd;
$majorTom30: #facdcd;
$majorTom20: #fcdede;
$majorTom10: #fdeeee;

// Blu - Blue
$blu100: #4cd1e0;
$blu80: #7bc7d1;
$blu60: #bdf4fb;
$blu40: #b8eff6;
$blu30: #c5e9ed;
$blu20: #dfe9ea;
$blu10: #ecfdff;

// Yellow Submarine - Yellow
$yelloSub100: #ffe177;
$yelloSub80: #ffe793;
$yelloSub60: #ffedae;
$yelloSub40: #fff3c9;
$yelloSub30: #fff6d6;
$yelloSub20: #fff9e4;
$yelloSub10: #fffcf1;

// Bike - Green
$bike100: #55cca1;
$bike80: #77d6b4;
$bike60: #99e0c7;
$bike40: #bbebd9;
$bike30: #ccf0e3;
$bike20: #ddf5ec;
$bike10: #eefaf6;

// Standard colors
$white: #fff;
$black: #000;
