// Circular
@font-face {
	font-family: 'Circular-Std-Book';
	src: url('../fonts/circular/Circular\ Std\ Book.ttf');
}
@font-face {
	font-family: 'Circular-Std-Medium';
	src: url('../fonts/circular/Circular\ Std\ Medium.ttf');
}
@font-face {
	font-family: 'Circular-Std-3';
	src: url('../fonts/circular/Circular\ Std\ Bold.ttf');
}
@font-face {
	font-family: 'Circular-Std-bold-italic';
	src: url('../fonts/circular/Circular\ Std\ Bold\ Italic.ttf');
}
@font-face {
	font-family: 'Circular-Std-Black';
	src: url('../fonts/circular/Circular\ Std\ Black.ttf');
}
@font-face {
	font-family: 'Circular-Air';
	src: url('../fonts/circular/CircularAir-Light.ttf');
}

// Gilroy
@font-face {
	font-family: 'Gilroy-1';
	src: url('../fonts/gilroy/Gilroy-Light.ttf');
}
@font-face {
	font-family: 'Gilroy-2';
	src: url('../fonts/gilroy/Gilroy-Regular.ttf');
}
@font-face {
	font-family: 'Gilroy-3';
	src: url('../fonts/gilroy/Gilroy-Medium.ttf');
}
@font-face {
	font-family: 'Gilroy-4';
	src: url('../fonts/gilroy/Gilroy-Bold.ttf');
}
@font-face {
	font-family: 'Gilroy-5';
	src: url('../fonts/gilroy/Gilroy-ExtraBold.otf');
}
@font-face {
	font-family: 'Gilroy-6';
	src: url('../fonts/gilroy/Gilroy-Heavy.ttf');
}
