.report-card {
	div {
		@include flexbox(row, space-between, center);
	}
	.title-date {
		width: 100%;
		margin-bottom: 0.5rem;
		.title {
			font-size: 1.25rem;
			p {
				overflow-x: scroll;
				width: 97%;
				&::-webkit-scrollbar {
					display: none;
				}
				padding-right: 1rem;
			}
			white-space: nowrap;
			width: 70%;
			margin-right: 1rem;
			position: relative;
			.white-gradient {
				position: absolute;
				width: 37%;
				height: 100%;
				top: 0;
				right: 0;
				background: linear-gradient(
					90deg,
					rgba(255, 255, 255, 0),
					rgba(255, 255, 255, 1)
				);
			}
			font-family: 'Roboto';
font-weight: 300;
		}
		.date {
			font-family: 'Circular-Air';
			font-size: 0.8rem;
		}
	}
	.tag-icon {
		.tags-container {
			@include flexbox(row, flex-start, center);
			.report-tag {
				background: #ecfdff;
				border-radius: 0.6rem;
				padding: 0.4rem;
				font-family: 'Circular-Air';
				margin-right: 0.7rem;
			}
		}
		.icon-img-container {
			// padding: 2rem;
			padding-bottom: 0.5rem;
		}
		img {
			height: 0.77rem;
			cursor: pointer;
			transition: 0.3s ease-in;
			transform-origin: center center;
			&.images-visible {
				transform: rotateZ(180deg);
			}
			&.images-hidden {
				transform: rotateZ(0deg);
			}
		}
	}
}
