.heading-1 {
	color: $vibra100;
	opacity: 0.28;
	font-family: 'Gilroy-5';
}

.heading-2 {
	color: $vibra100;
	font-family: 'Circular-Std-Black';
}

.body-1 {
	color: $vibra100;
	font-family: 'Circular-Air';
}

.body-2 {
	color: $vibra100;
	font-family: 'Circular-Std-Book';
}

.body-3 {
	color: $vibra100;
	font-family: 'Circular-Std-Medium';
}

.subtitle-1 {
	color: $vibra80;
	font-family: 'Circular-Air';
}

.subtitle-2 {
	color: $vibra100;
	font-family: 'Circular-Std-Medium';
}

.subtitle-3 {
	color: $vibra80;
	font-family: 'Circular-Std-Medium';
}
