.heading-1 {
	color: $vibra100;
	opacity: 0.28;
	font-family: 'Roboto';
font-weight: 600;
}

.heading-2 {
	color: $vibra100;
	font-family: 'Roboto';
	font-weight: 500;
}

.body-1 {
	color: $vibra100;
	font-family: 'Roboto';
}

.body-2 {
	color: $vibra100;
	font-family: 'Roboto';
font-weight: 300;
}

.body-3 {
	color: $vibra100;
	font-family: 'Roboto';
font-weight: 400;
}

.subtitle-1 {
	color: $vibra80;
	font-family: 'Roboto';
}

.subtitle-2 {
	color: $vibra100;
	font-family: 'Roboto';
font-weight: 400;
}

.subtitle-3 {
	color: $vibra80;
	font-family: 'Roboto';
font-weight: 400;
}
